# Basics of the Python

# *Introduction*

# *Table of Contents* <a id='toc'></a>

* [Variables](#variables)   
* [Displaying something](#display)
* [Numerical operations](#num-operations)   
* [String operations](#string-operations)   
* [Data structures](#data-structures)   
* [Slicing](#slicing)   
* [Functions](#functions)   
* [Whitespaces](#whitespace)   
* [Conditionals](#conditionals)   
* [Looping](#looping)   
* [Comprehensions](#comprehensions)   
* [Catching exceptions](#catching-exceptions)   
* [Importing libraries](#importing)   
* [OS operations](#os-operations)   
* [File Input / Output](#files)

## <span style="text-decoration: underline;">Variables</span><a id='variables'></a> [(to top)](#toc)

Basic numeric types in Python are `int` for integers and `float` for floating point numbers.  
Strings are represented by `str`, in Python 3.x this implies a sequence of Unicode characters.

In [8]:
a = 5
b = 3.5
c = 'A string'
print(a)

5

In [9]:
type(a), type(b), type(c)

(int, float, str)

Converting types:

In [10]:
int(3.6), str(5)

(3, '5')

Checking types:

In [11]:
type(a), type(b), type(c)

(int, float, str)

In [13]:
isinstance(a, int)

True

## <span style="text-decoration: underline;">Displaying something</span><a id='display'></a> [(to top)](#toc)

In [34]:
print('Hello')

Hello

*Note:* `print 'Hello'` does not work in Python 3

In [16]:
print('Hello ' + 'World')

Hello World

In [36]:
apples = 'banana'
print('I have', 2, apples)

I have 2 banana

## <span style="text-decoration: underline;">Numerical operations</span><a id='num-operations'></a> [(to top)](#toc)

In [39]:
2+3

5

In [40]:
3 / 4

0.75

In [41]:
3-2

1

In [42]:
3*2

6

In [43]:
4+5-2*10

-11

In [44]:
10%2

0

*Note:* Python 3 (unlike Python 2) will automatically create a `float` value if you divide to integers.

## <span style="text-decoration: underline;">String operations</span><a id='string-operations'></a> [(to top)](#toc)

Define strings with single, double or triple quotes (for multi-line)

In [54]:
hello = 'world'
saying = "hello world"
paragraph = """ This 
is 
a 
paragraph"""

 This
is
a
paragraph

*Note:* you can also create a `raw string` by prefixing the string with "r" (`r"string"`) which will be interpreted literally:

In [56]:
print("This is a regular string with a special character\n \nThis is on a new line")

This is a regular string with a special character

This is on a new line

In [58]:
print(r"This is a raw string with a special character\n \nThis is on a new line")

This is a raw string with a special character\n \nThis is on a new line

### Variables in strings

Using the `.format()` syntax:

In [14]:
'{} {}'.format(20, 1/3)

'20 0.3333333333333333'

In [15]:
'{1} {0}'.format(20, 1/3)

'0.3333333333333333 20'

In [16]:
'{:.3f} {:.2f}'.format(20, 1/3)

'20.000 0.33'

In [63]:
name = "Aashish Dhakal"
level = 'BE'
f'My name is {name}.My study level is {level}'

'My name is Aashish Dhakal.My study level is BE'

*Note 1:* using `.format()` is recommended over the legacy `%` method (`"The number is: %s" % 10` --> `'The number is: 10'`)  
*Note 2:* This webpage has a great overview of the various formatting options:  https://pyformat.info/

**Note:** starting from Python 3.6 you can also use so-caled "F strings":  
F string are great but will not work without Python 3.6+ so `.format()` tends to have better compatibility if you share your code with others.

In [64]:
year, p_version = 2018, '3.6'
f'The year {year} is pretty awesome with F-strings from Python {p_version}'

'The year 2018 is pretty awesome with F-strings from Python 3.6'

## <span style="text-decoration: underline;">Data structures</span><a id='data-structures'></a> [(to top)](#toc)

There are 4 basic data structures: 
* lists (`list`)  
* tuples (`tuple`)  
* dictionaries (`dict`)  
* sets (`set`)

### Lists

Lists are enclosed in brackets

In [67]:
pets = ['dogs', 'cat', 'bird'] 
pets.append('cow')
pets

['dogs', 'cat', 'bird', 'cow']

### Tuple

Tuples are enclosed in parentheses  
*Note:* You cannot add or remove elements from a tuple but they are faster and consume less memory

In [68]:
pets = ('dogs', 'cat', 'bird')
pets

('dogs', 'cat', 'bird')

### Dictionaries

Dictionaries are build using curly brackets  
*Note:* It is best to treat dictionaries as if they are unordered. You retrieve values based on the key, value pairs.

In [70]:
person = {'name': 'fred', 'age': 29}
person['name']
person['age']

29

You add items to a dictionary by specifying a key and value:

In [75]:
person['father_name']='Fred Father'
person

{'name': 'fred', 'age': 29, 'father_name': 'Fred Father'}

In [76]:
del person['father_name']
person

{'name': 'fred', 'age': 29}

### Set

A set is like a list but it can only hold unique values.

In [77]:
pets_1 = set(['dogs', 'cat', 'bird'])
pets_2 = set(['dogs', 'horse', 'zebra', 'zebra'])
pets_2

{'dogs', 'horse', 'zebra'}

There are many useful operations that you can perform using sets

In [78]:
pets_1.union(pets_2)

{'bird', 'cat', 'dogs', 'horse', 'zebra'}

In [25]:
pets_1.intersection(pets_2)

{'dogs'}

In [79]:
pets_1.difference(pets_2)

{'bird', 'cat'}

### Combinations

Data structures can hold any Python object!

In [88]:
combo = ('apple', 'orange')
mix = {'fruit' : [combo, ('banana', 'pear')]}
mix['fruit']

[('apple', 'orange'), ('banana', 'pear')]

## <span style="text-decoration: underline;">Slicing</span><a id='slicing'></a> [(to top)](#toc)

If an object is ordered (such as a list or tuple) you can select on index  
**Note:** Python starts counting at 0. So the first value is at index 0.

In [28]:
pets = ['dogs', 'cat', 'bird', 'lizzard']

In [29]:
favorite_pet = pets[0]
favorite_pet

'dogs'

In [30]:
reptile = pets[-1]
reptile

'lizzard'

In [89]:
pets[1:3]

('cat', 'bird')

In [90]:
pets[:2]

('dogs', 'cat')

*Note:* this also works on strings:

In [92]:
fruit = 'banana'
fruit[:4]

'bana'

## <span style="text-decoration: underline;">Functions</span><a id='functions'></a> [(to top)](#toc)

A Python function takes arguments as input and defines logic to process these inputs (and possibly returns something).

In [121]:
def add_5(number):
    return number + 5

The action of defining a function does not execute the code! It will only execute once you call the function:

In [123]:
add_5(10)

15

You can also add arguments with default values:

In [124]:
def add(number, add=5):
    return number + add

In [125]:
add(10)

15

In [126]:
add(10, add=10)

20

### Python also has unnamed functions for one-time use called "lambda functions"

In [127]:
x = lambda a : a + 10
print(x(5))

15

In [128]:
x = lambda a, b : a * b
print(x(5, 6))

30

**Note:** don't worry if these don't make sense. Just remember that they are simply functions without a name.

## <span style="text-decoration: underline;">Whitespace (blocks)</span><a id='whitespace'></a> [(to top)](#toc)

Indentations are **required** by Python to sub-set blocks of code.  
*Note:* these subsets have their own local scope, notice variable `a`:

In [155]:
def example():
    abc = 'Layer 1'
    print('First indentation scope:', abc)

In [153]:
example()

First indentation scope: Layer 1

## <span style="text-decoration: underline;">Conditionals</span><a id='conditionals'></a> [(to top)](#toc)

In [156]:
grade = 95
if grade == 90:
    print('A')
elif grade < 90:
    print('B')
elif grade >= 80:
    print('C')
else:
    print('D')

C

## <span style="text-decoration: underline;">Looping</span><a id='looping'></a> [(to top)](#toc)

*Note:* the `range` function generates a range of numbers ([Documentation Link](https://docs.python.org/3.7/library/stdtypes.html?highlight=range#range))

In [160]:
for num in range(0, 6,2): 
    print(num)

0
2
4

In [161]:
list_fruit = ['Apple', 'Banana', 'Orange']
for fruit in list_fruit:
    print(fruit)

Apple
Banana
Orange

You can break a loop prematurely by including a `break` statement

In [167]:
for num in range(100):
    print(num)
    if num == 2:
        break

0
1
2

You can also loop until a condition is met using `while`  
*Note:* running `while True` will loop indefinitely until a `break` statement is called

In [169]:
count = 0
while count < 4:
    print(count)
    count += 1

0
1
2
3

Looping over a tuple in a list:

In [172]:
tuple_in_list = [(1, 2), (3, 4)]
for a,b in tuple_in_list:
    print(a+b)

3
7

Looping over a dictionary:

In [174]:
dictionary = {'one' : 1, 'two' : 2, 'three' : 3}
for key, value in dictionary.items():
    print(key, value + 10)

one 11
two 12
three 13

## <span style="text-decoration: underline;">Comprehensions</span><a id='comprehensions'></a> [(to top)](#toc)

A comprehension makes it easier to generate a list or dictionary using a loop.

**List comprehension:**

In [175]:
new_list = [x + 5 for x in range(0,6)]
new_list

[5, 6, 7, 8, 9, 10]

*Traditional way to achieve the same:*

In [176]:
new_list = []
for x in range(0,6):
    new_list.append(x + 5)
new_list

[5, 6, 7, 8, 9, 10]

**Dictionary comprehension:**

In [177]:
new_dict = {'num_{}'.format(x) : x + 5 for x in range(0,6)}
new_dict

{'num_0': 5, 'num_1': 6, 'num_2': 7, 'num_3': 8, 'num_4': 9, 'num_5': 10}

*Traditional way to achieve the same:*

In [178]:
new_dict = {}
for x in range(0,6):
    new_dict['num_{}'.format(x)] = x + 5
new_dict

{'num_0': 5, 'num_1': 6, 'num_2': 7, 'num_3': 8, 'num_4': 9, 'num_5': 10}

## <span style="text-decoration: underline;">Catching Exceptions</span><a id='catching-exceptions'></a> [(to top)](#toc)

A Python exception looks like this:

In [179]:
num_list = [1, 2, 3]
num_list.remove(4)

ValueError: list.remove(x): x not in list

You can catch exceptions using `try` and `except`:

In [180]:
try:
    num_list.remove(4)
except:
    print('ERROR!')

ERROR!

It is usually best practice to specify the error you expect. Running "blind" try/except blocks runs the risk of missing an error that you didn't expect, which would lead to unexpected behavior.

In [181]:
try:
    num_list.remove(4)
except ValueError as e:
    print('Error: ', e)
except Exception as e:
    print('Other error: ', e)
finally:
    print('Done')

Error:  list.remove(x): x not in list
Done

## <span style="text-decoration: underline;">Importing Libraries</span><a id='importing'></a> [(to top)](#toc)

*Note:* It is considered best practice to include all import statements at the top of your code.

In [183]:
import math
math.sin(1)

0.8414709848078965

In [184]:
import math as m
m.sin(1)

0.8414709848078965

In [185]:
from math import sin
sin(1)

0.8414709848078965

## <span style="text-decoration: underline;">OS operations</span><a id='os-operations'></a> [(to top)](#toc)

In [186]:
import os

### Get current working directory

In [187]:
os.getcwd()

'C:\\Users\\HP\\Desktop'

### List files/folders in directory

In [188]:
os.listdir()[:5]

['.ipynb_checkpoints',
 '.tmp.drivedownload',
 '101885086_2615400482033165_6345985789553278976_n.png',
 '102943057_613989489535291_4965200982281540966_n.jpg',
 '103261565_154994046086140_3988150611572680339_o.jpg']

*Note:* combine with simple comprehension to filter on file type!

### Change working directory

In [63]:
os.chdir(r'E:\\Dropbox\\Work\\Programming\\active\\LearnPythonforResearch')

*Note:* `r'path'` indicates a raw string  
A raw string does not see `\` as a special character

## <span style="text-decoration: underline;">File Input/Output</span><a id='files'></a> [(to top)](#toc)

You can open a file with different file modes:  
`w` -> write only  
`r` -> read only  
`w+` -> read and write + completely overwrite file   
`a+` -> read and write + append at the bottom

*Note 1:* specifying your encoding when writing/reading files is generally considered best practice to avoid unexpected behavior.  
*Note 2:* there are alternative ways to read/write files, but using `with` is strongly recommended as it will automatically close the file.

In [189]:
with open('new_file.txt', 'w', encoding='utf-8') as file:
    file.write('Content of new file. \nHi there!')

In [190]:
with open('new_file.txt', 'r', encoding='utf-8') as file:
    file_content = file.read()

In [193]:
file_content

'Content of new file. \nHi there!'

In [195]:
print(file_content)

Content of new file.
Hi there!

You can also append lines to an existing file

In [196]:
with open('new_file.txt', 'a+', encoding='utf-8') as file:
    file.write('\n' + 'New line')

In [197]:
with open('new_file.txt', 'r', encoding='utf-8') as file:
    print(file.read())

Content of new file.
Hi there!
New line